@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* minireset css */
html, body, p, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff
}

a:visited {
  color: #fff
}

button {
  margin: 0;
  border: none;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  background-color: #141414;
  color: #fff;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

header, main {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  height: 50vh;
  display: grid;
  grid-template-rows: 1fr 3fr;
}

#top_header {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;
}

#logo {
  padding-left: 2rem;
  font-size: 2rem;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.navbar {
  padding: 0 1rem;
  font-size: 1.6rem;
}

.navbar:hover {
  font-weight: bold;
}

#firstMovie_section {
  margin: 0 auto;
}

#firstMovie_section > div {
  display: flex;
  width: 100%;
  height: 100%;
}

#firstMovie_section > div > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#firstMovie_section > div > div > h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 0 1.5rem 0 ;
}

#firstMovie_section > div > div > p {
  padding: 0 0 1.5rem 0 ;
  text-align: justify;
}

#firstMovie_button {
  padding: 0.5rem;
  opacity: 80%;
  border-radius: 0.3rem 0.3rem;
}

#firstMovie_button:hover {
  opacity: 100%;
}

#firstMovie_button > i {
  padding: 0 0.5rem 0 0;
}

#firstMovie_imgBloc {
  position: relative;
  flex: 1;
}

#firstMovie_imgBloc > img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#categories {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

#categories > section > h2 {
  margin: 2rem 0 1rem 0;
  font-size: 1.4rem;
  text-align: center;
}

.category_section {
  position: relative;
}

.category_carousel {
  overflow: hidden;
  display: flex;
}

.slides_container {
  display: flex;
  width: 100%;
}

.carousel_arrow {
  position: absolute;
  display: flex;
  top: 4rem;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: #fff;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.carousel_arrow:hover {
  opacity: 1;
}

.previous_arrow {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

.next_arrow {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slides_container > a {
  width: 100%;
  height: 100%;
  flex: 1 0 25%;
}

.slides_container > a > img {
  display: block;
  margin: auto;
}

.close {
  display: none;
}

.open {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: #202020;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 1400px;
  width: 65%;
  border-radius: 1rem 1rem;
}

.open_modal {
  opacity: 10%;
}

#modal_content {
  padding: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#close_modal {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5rem;
  width: 1.125rem;
  border-radius: 50%;
}

#modal_title {
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
}

.modal_summary {
  padding: 1rem 2rem 0 0;
}

.modal_staff {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal_staff > div {
  padding: 0 1rem 0 0;
}

.modal_staff > div > h3, #more_actors{
  color: #787878;
}